on boot
    # OTG
    write /sys/class/power_supply/usb/otg_switch 1

    # Smart charging
    chown system system /sys/class/power_supply/battery/input_suspend
    chmod 0666 /sys/class/power_supply/battery/input_suspend

on charger
    write /sys/class/backlight/panel0-backlight/brightness 150

service cvphalservice /system/bin/true
    disabled

service dashd /system/bin/dashd
    class core
    critical
    group root system

service factory-hal-1-0 /system/bin/true
    disabled

service oneplus_brain_service /system/bin/true
    disabled
